html {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header,
.container {
    max-width: 40%;
    margin: auto;
}

button {
    padding: 15px 15px;
    font-size: 1rem;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

table {
    border-collapse: collapse;
}

td, th {
    border: 1px solid rgb(190,190,190);
    padding: 10px 20px;
    text-align: left;
  }

col.title,
col.author {
    min-width: 300px;
}

col.pages {
    min-width: 100px;
}

th:nth-child(3),
td:nth-child(3) {
    text-align: right;
}

table caption {
    text-align: left;
    padding: 10px 0px;
    font-size: 1.1rem;
}

.main {
    padding: 50px 0px;
    display: flex;
    justify-content: center;
}

.modal {
    position: fixed;
    top: 40%;
    left: 50%;
    padding: 30px;
    transform: translate(-50%, -50%) scale(0);
    transition: 0.3s ease-in-out;
    background-color: rgb(240, 240, 240);
    border-radius: 15px;
    z-index: 1;
}

.modal.active {
    transform: translate(-50%, -50%) scale(1);
}

.form-row {
    display: grid;
    grid-template: 50px / auto 200px;
    gap: 10px;
    align-items: center;
}

input[type="text"],
input[type="tel"] {
    height: 35px;
    padding: 0px 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.158);
}

input:focus {
    border: 2px solid rgba(0, 0, 0, 0.486);
    outline: none;
}


.form-row.center {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.form.modal h1 {
    text-align: center;
    margin-top: 0px;
}

.blur {
    background-color: rgba(0, 0, 0, 0.445);
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
}

.blur.active {
    display: block;
}

form button {
    background-color: rgb(180, 241, 138);
    padding: 15px 100px;
    margin-top: 15px;
}